

body {
  background:rgb(219,236,250);
}

/* texto place holder rojo nas validacións dos formularios */
input.redText::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }

  caption {
    caption-side: top;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
  }